

# Directories
Packages/**
scripts/compile/__pycache__/**
tests/lsp/**
tests/selene/**
types
lints
.env

# Files
sourcemap.json
wally.lock
package-lock.json

# File types
*.lock
*.gitconfig
*.rbxl
*.rbxlx
*.lock

