
.headline1 {
	font-family: 'Arial';
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	text-overflow: wrap;
}

.headline2 {
	font-family: 'Arial';
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	text-overflow: wrap;
}

.headline3 {
	font-family: 'Arial';
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.headline4 {
	font-family: 'Arial';
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.headline5 {
	font-family: 'Arial';
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.headline6 {
	font-family: 'Arial';
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.subtitle1 {
	font-family: 'Arial';
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.subtitle2 {
	font-family: 'Arial';
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.button {
	font-family: 'Arial';
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.body1 {
	font-family: 'Arial';
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.body2 {
	font-family: 'Arial';
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.caption {
	font-family: 'Ubuntu';
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.overline {
	font-family: 'Ubuntu';
	font-size: 8px;
	font-style: normal;
	font-weight: bold;
	text-overflow: clip;
}

.spacing {
	border-width: 2px;
	padding: 6px;
	border-radius: 4px;
}

.primary {
	background-color: rgb(0, 136, 255);
}

.secondary {
	background-color: rgb(255, 187, 0);
}

.tertiary {
	background-color:rgb(104, 255, 235);
}

.background {
	background-color: hsla(0.5, 0, 0.1, 1);
}

.error {
	background-color: #ff0000;
}

.warn {
	background-color: #ffbf00;
}

.gain {
	background-color: #33cc33;
}

.loss {
	background-color: #ff0000;
}
